.aboutUsContainer{
  /* position: absolute;
  justify-content: center;
  margin: 140px 140px auto;
  width: 1150px; */


  display: flex;
  flex-direction: column;
  /* height: 672px; */
  text-align: center;
  margin-top: 200px;
  align-items: center;


}
 #aboutUstext{
   margin-top: 40px;
  font-family: 'Pangolin', cursive;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  color: black;
  text-align: center;
 }

 /* Не понял зачем это */

 /* #beforeAfter {
  margin-left:20%;
 } */

 #firstReview{
   text-align: center;
   position: relative;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
   
 }
 .beforeAfterText {
  margin-top: 40px;
  font-family: 'Pangolin', cursive;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  
 }

 /* #beforeAfterImg {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
 } */

 .textAndMap {
  text-align: left;
  position: relative;
  display: flex;
 flex-direction: row;
 justify-content: space-between;
 }

.about {
  display: flex;
  padding-top:50px;
  justify-content: space-around;
}
 .yamap {
 
  display: flex; /* флекс - дирекшен роу по умолчанию - горизонт*/
  justify-content: space-around;
  border:3px dotted rgb(57, 0, 228);
  margin-right:20px;
  height: 410px;
  width: 400px;
  /* margin:20px auto; */
}

#aboutUstext {
  margin-left:20px;
}


.button {
  display: flex; /* флекс - дирекшен роу по умолчанию - горизонт*/
  justify-content: space-around;
  align-items: center;
}

a.knopka {

  color: black; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(125, 179, 130); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  background-image: -webkit-linear-gradient(45deg, rgb(248, 158, 23) 50%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(248, 158, 23) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  height: 50px;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 20px;
} 

a.knopka:hover {
  background-position: 0;
}


/* a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
/* a.knopka:active { background: rgb(152,15,0); } при нажатии */ */



