/* .favContainer {
  position: absolute;
  width: 1150px;
  height: 586px;
  left: 145px;
  top: 177px;
} */
.favTable{
  display: flex;
  flex-direction: row;
}
.favSmallContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  width: 991px;
  height: 518px;
  left: 224px;
  top: 245px;
  background: #C6D6D3;
  border-radius: 90px;
  border: 1px dotted;
  }
  .favSmallContainer > * {
    border: 1px solid red;

  }

  .favTitle {
  position: absolute;
  width: 208px;
  height: 30px;
  left: 224px;
  top: 177px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  }

  .favBtnContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    
  }

  .table {
    width: 100%;
    margin-bottom: 20px;
    border: 15px solid #ffffff;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse; 
  }
  .table th {
    font-weight: bold;
    padding: 5px;
    background: #F2F8F8;
    border: none;
    border-bottom: 5px solid #F2F8F8;
  }
  .table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #F2F8F8;
  }
