.bigImg{
  background-color: black;
  margin-left: 40%;
  margin-right: 40%;
  margin-top :3%;
  
  height: 400px;
}
.parent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.color{
  margin-top: 20px;
}
.square{
  width: 20px;
  height: 20px;
  background-color: red;
}

