#shapka {
position: fixed;
width: 100%;
height: 208px;
left: 0px;
top: 0px;
background: #FEDBBA;
color: black

}

#footer {
position: relative;
width: 100%;
height: 183px;
left: 0px;
top: 841px;
background: #FEDBBA;

}

#shapka {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

#menu, #contacts, #likebasket {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 align-items: center;
  
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.headermenu {
  padding:10px;
}

.company {
  display:flex;
  
}

hr {
  border: none; /* Убираем границу */
  background-color: red; /* Цвет линии */
  color: red; /* Цвет линии для IE6-7 */
  height: 4px; /* Толщина линии */
  margin-left:15px;
}

h2 {
margin-bottom: -10px;
margin-left:15px;
}
.deviz {
  margin-top: -10px;
  margin-left:15px;
}


#footercolumns {
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:20px;
    
}


#policy {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 align-items: center;
 margin-left:300px;
 margin-right:300px;

}
/* форма регистрации*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}


* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 500px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  margin:10px 0;
}


#regForm, #logForm {
  color:black;
  width: 50%;
  margin-left: 25%;
}

#formTitle {
  text-align: center;
}
a{
  text-decoration: none;
}
