#shapka {
position: fixed; /* поставила пока тут абсолют, фикс закрепляет на экране, но картинка наежает на него
завтра хочу спросить у Ромы, в гугле не нашла ответ */
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: 108px;
left: 0px;
top: 0px;
background: #FEDBBA;
color: black;
z-index: 1;
}
/* main {
  z-index: -1;
} */
#footer {
position: absolute;
width: 100%;
height: 163px;
left: 0px;
/* top: 841px; */
background: #FEDBBA;
/* margin-top: 200px; */

}
#menu, #contacts, #likebasket {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Dimka */

#contacts, #footeradress {
  font-family: 'Pangolin', cursive;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}

#footeradress {
  font-size:18px;
}


#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.headermenu {
  padding:10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.company {
  display:flex;
  
}

#greetingName {
  font-family: 'Pangolin', cursive;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  font-size: 25px;
  position: relative;
  /* color: rgb(129, 170, 129); */
  color: rgb(238, 10, 10);
  cursor: pointer;
  line-height: 1;
  /* text-decoration: none; 
  user-select: none; */
}

hr {
  border: none; /* Убираем границу */
  background-color: red; /* Цвет линии */
  color: red; /* Цвет линии для IE6-7 */
  height: 4px; /* Толщина линии */
  margin-left:15px;
}

/* Dimka */
h2 {
margin-bottom: -10px;
margin-left:15px;
font-family: 'Pangolin', cursive;
/* font-family: Poppins;
font-style: normal; */
font-weight: 600;
font-size: 30px;
line-height: 30px;
/* or 100% */

text-align: center;
}

/* Dimka */
.deviz {
  margin-top: -25px;
  margin-left:25px;
  font-family: 'Pangolin', cursive;
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}


#footercolumns {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:20px;
  align-items: center;
    
    
}
#footermenu {
font-family: Roboto;
display: block;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: left;
color: #000000;
}

#policy {
  display:flex;
  /* width:1000px; */
  font-family: 'Pangolin', cursive;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-left:400px;
  margin-right:300px; */
  margin-top:-20px;
  /* font-family: Roboto; */
  /* font-style: normal;
  font-weight: normal; */
  font-size: 18px;
  /* line-height: 21px; */
  justify-content: space-around;
  /* align-items: center; */

}
/* форма регистрации*/
/* body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
} */


* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 300px;

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  margin:10px 0;
}



/* Это больше не работает! */
/* #regForm, #logForm {
  color:black;
  width: 50%;
  margin-left: 25%;
} */

/* Dimka */
div [name="logForm"], div [name="regForm"] {
  width: 30%;
  position: absolute;
  margin-left: 35%;
}

#formTitle {
  text-align: center;
}
a{
  text-decoration: none;
}

/* Dimka */
a.menu {
font-family: 'Pangolin', cursive;
font-size: 25px;
position: relative;
color: black;
cursor: pointer;
line-height: 1; 
text-decoration: none; 
}
a.menu:after {
display: block;
position: absolute;
left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
width: 0;/*задаём длинну линии до наведения курсора*/
height: 3px; /*задаём ширину линии*/
background-color: red; /*задаём цвет линии*/
content: "";
transition: width 0.9s ease-out; /*задаём время анимации*/
}

a.menu:hover:after,
a.menu:focus:after {
width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

a.footmenu {
  font-family: 'Pangolin', cursive;
  font-size: 18px;
  position: relative;
  color: black;
  cursor: pointer;
  line-height: 1; 
  text-decoration: none; 
  }
  a.footmenu:after {
  display: block;
  position: absolute;
  right: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;/*задаём длинну линии до наведения курсора*/
  height: 1px; /*задаём ширину линии*/
  background-color: red; /*задаём цвет линии*/
  content: "";
  transition: width 0.9s ease-out; /*задаём время анимации*/
  }
  
  a.footmenu:hover:after,
  a.footmenu:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
  }

  #footeradress {
    font-size:18px;
  }

/* Generator!!! */
  main {
    margin-top: 200px;
  }

  
