<div class="aboutUsContainer">
  <div>
    <h2 id="aboutUs">О нас</h2>
  </div>
  <div class="about">
    <div class="yamap">
      <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6477ef6b359bd86e8d6b7a570abe0ed45066cbe93968af29e9b6ddbd6e1ac3f5&amp;width=400&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div>
      <p id="aboutUstext">Ни для кого не секрет, <br>
        что носки — это ключевой предмет гардероба, поэтому недооценивать их <br>
        значимость может быть даже опасно! <br>
        <br>
        Наш бренд WeAreSocks предоставляет возможность <br>
        для самовыражения через этот чрезвычайно важный предмет
        гардероба.<br>
        <br>
        Мы находимся:<br>
        г. Москва, ул.Орджоникидзе, д.11 стр.10<br>

      </p>
      <div class="button"><a href="https://yandex.ru/maps/?rtext=~55.706573,37.597091" target="_blank"
          class="knopka">Проложить маршрут
          до
          Нас!</a></div>
    </div>
  </div>
  <div id="beforeAfter">
    <h2>Реакция куратора проекта:</h2>
    <div id="firstReview">

      <div class=>
        <p class="beforeAfterText">До создания кастомизированых носков</p>
        <img id="firstBefore" src="/image/1.png" alt="" width="300px" height="170px">
      </div>
      <div>
        <p class="beforeAfterText">После</p>
        <img id="firstAfter" src="/image/2.png" alt="" width="300px" height="170px">
      </div>
    </div>

    <h1>Реакция клиентов:</h1>
    <div id="firstReview">

      <div class=>
        <p class="beforeAfterText">До создания кастомизированых носков</p>
        <img id="firstBefore" src="/image/1.png" alt="" width="300px" height="170px">
      </div>
      <div>
        <p class="beforeAfterText">После</p>
        <img id="firstAfter" src="/image/2.png" alt="" width="300px" height="170px">
      </div>
    </div>


    <div class="textAndMap">
      <div>
        <p id="textMap">Закажите наш товар на сайте <br>
          Или ознакомьтесь с существующим асортиментом в нашем магазине по адресу <br>
          ул.Орджоникидзе, д.11 стр.10</p>
      </div>
      <div>
        <img id="mapAPI" src="/image/map.png" alt="" width="300px" height="150px">
      </div>
    </div>

  </div>
</div>
