<div class="aboutUsContainer">
  <div>
    <h2 id="aboutUs">О нас</h2>
  </div>
  <div>
    <p id="aboutUstext">Ни для кого не секрет, что носки — это ключевой предмет гардероба, поэтому недооценивать их значимость может быть даже опасно! <br> 
    Наш бренд WeAreSocks предоставляет возможность для самовыражения через этот чрезвычайно важный предмет гардероба. </p>
  </div>
  <div id="beforeAfter">
    <div id="firstReview">
      <div class=>
        <p class="beforeAfterText">До создания кастомизированых носков</p>
        <img id="firstBefore" src="/image/1.png" alt="" width="300px" height="170px">
      </div>
      <div>
        <p class="beforeAfterText" >После</p>
        <img id="firstAfter" src="/image/2.png" alt="" width="300px" height="170px">
      </div>
    </div>
    <div class="textAndMap">
      <div>
        <p id="textMap">Закажите наш товар на сайте <br>
              Или ознакомьтесь с существующим асортиментом в нашем магазине по адресу <br> 
              ул.Орджоникидзе, д.11 стр.10</p>
      </div>
      <div>
        <img id="mapAPI" src="/image/map.png" alt="" width="300px" height="150px">
      </div>
    </div>

  </div>
</div>
