<div class="aboutUsContainer">
  <div>
    <h2 id="aboutUs">О нас</h2>
  </div>
  <div>
    <p id="aboutUstext">Ни для кого не секрет, что носки — это ключевой предмет гардероба, поэтому недооценивать их значимость может быть даже опасно! 
    Наш бренд WeAreSocks предоставляет возможность для самовыражения через этот чрезвычайно важный предмет гардероба. </p>
  </div>
  <div id="beforeAfter">
    <div id="firstReview">
      <div> 
        <p>До создания кастомизированых носков</p>
        <p>После</p>
      </div>
      <img id="firstBefore" src="" alt="">
      <img id="firstAfter" src="" alt="">
    </div>
    <div id="secondReview">
      <div> 
        <p>До создания кастомизированых носков</p>
        <p>После</p>
      </div>
      <img id="secondBefore" src="" alt="">
      <img id="secondAfter" src="" alt="">
    </div>

    <div class="textAndMap">
      <div>
        <p id="textMap">Закажите наш товар на сайте 
              Или ознакомьтесь с существующим асортиментом в нашем магазине по адресу 
              ул.Орджоникидзе, д.11 стр.10</p>
      </div>
      <div>
        <img id="mapAPI" src="" alt="">
      </div>
    </div>

  </div>
</div>
