<div class="favContainer">
  <div>
    <h3 class="favTitle">Корзина</h3>
  </div>
  <div class="favSmallContainer">
    <div class="favTable">
      <table>
        <tr>
          <td>Номер</td>
          <td>Фото</td>
          <td>Описание</td>
          <td>Кол-во</td>
          <td>Цена</td>
          <td>Убрать из корзины</td>
        </tr>
        <tr>
          <td>Номер</td>
          <td>Фото</td>
          <td>Описание</td>
          <td>Кол-во</td>
          <td>Цена</td>
          <td>Убрать из корзины</td>
        </tr>
      </table>
      <div>
        <h4 id="total">Итого:{{price}}</h4>
      </div>
      <div class="favBtnContainer">
        <div class="">
          <img class="btnOrder" src="/image/кнопкаОформитьзаказ.png" alt="">
        </div>
        <div class="">
          <img class="btnReg" src="/image/кнопкаЗарегистрироваться.png" alt="">
        </div>
      
      </div>

    </div>
    <div>
      <p>*доступно только для зарегистрированных пользователей</p>
    </div>

  </div>

  
</div>
