<div class="favContainer">
  <div>
    <h3 class="favTitle">Избранное</h3>
  </div>
  <div class="favSmallContainer">
    <div class="favTable">
      <table>
        <tr>
          <td>Номер</td>
          <td>Фото</td>
          <td>Описание</td>
        </tr>
        <tr>
          <td>Номер</td>
          <td>Фото</td>
          <td>Описание</td>
        </tr>
      </table>
      <div class="favBtnContainer">
        <div class="">
          <img class="btnAddBasket" src="/image/кнопкаДобавитьВКорзину.png" alt="">
        </div>
        <div class="">
          <img class="btnShare" src="/image/кпонкаПоделиться.png" alt="">
        </div>
        <div class="">
          <img class="btnDeleteFromFav" src="/image/кнопка.убратьИзИзбранного.png" alt="">
        </div>


      </div>

    </div>

  </div>

  
</div>
