{{!-- <div class ="img1" ><img class ="img1" src='image/insta.png'>
<div class ="img2"><img class ="img2" src='image/insta.png'></div>

</div>


<div class ='div'><a href="">ссылка<img  class ="img1" src = 'image/insta.png'</a></div> --}}

{{!-- <button id='btn' name='insta.png'>кнопка цвета</button>
<button id='btn2' name='logo.png'>кнопка рисунка</button> --}}

<h2></h2>

<div  class="bigImg"><img id='imageSocks' class="bigImg" src='image/Socks/white.png'></div>

<h2>Выберите цвет</h2>
<div class='parent' id="chooseColor">
  
  <div><button class='btn1' name='red' id='square1'></button></div>
  <div ><button class='btn1' name='yellow' id='square2'></button></div>
  <div ><button class='btn1' name='green' id='square3'></button></div>
  <div ><button class='btn1' name='orange' id='square4'></button></div>
  <div ><button class='btn1' name='blue' id='square5'></button></div>
  <div ><button class='btn1' name='white' id='square6'></button></div>
</div>
<h2>Выберите дизайн </h2>
<div class='parent' id='chooseDesign'>
  
  <div class='color'><button class='btn2' name='red' id='square7'></button></div>
  <div class='color'><button class='btn2' name='yellow' id='square8'></button></div>
  <div class='color'><button class='btn2' name='green' id='square9'></button></div>
  <div class='color'><button class='btn2' name='orange' id='square10'></button></div>
  <div class='color'><button class='btn2'name='blue' id='square11'></button></div>
  <div class='color'><button class='btn2'name='white' id='square12'></button></div>
</div>
<div class='fotterBtn'>
<div><button id="clear" class='resetfBtn'>Cброс</button></div>
{{#if useremail}}
<button id='basket' class='fBtn'>Добавить в корзину</button>
<button id='fav' class='fBtn'>Добавить в избранное</button>
{{/if}}
</div>
