{{!-- <div class ="img1" ><img class ="img1" src='image/insta.png'>
<div class ="img2"><img class ="img2" src='image/insta.png'></div>

</div>


<div class ='div'><a href="">ссылка<img  class ="img1" src = 'image/insta.png'</a></div> --}}

<button id='btn' name='insta.png'>кнопка цвета</button>
<button id='btn2' name='logo.png'>кнопка рисунка</button>

<div id='div' class="img1"></div>
<script type='text/javascript'>
var color1 = tinycolor("red");
const div3 = document.createElement('div')
div3.innerText='1234'
tinycolor("#f00").lighten(100).toString();
</script>
