{{!-- <div class ="img1" ><img class ="img1" src='image/insta.png'>
<div class ="img2"><img class ="img2" src='image/insta.png'></div>

</div>


<div class ='div'><a href="">ссылка<img  class ="img1" src = 'image/insta.png'</a></div> --}}

{{!-- <button id='btn' name='insta.png'>кнопка цвета</button>
<button id='btn2' name='logo.png'>кнопка рисунка</button> --}}
<h2></h2>
<div id='div' class="bigImg"></div>
<h2>Выберите цвет</h2>
<div class='parent'>
  
  <div><button class='square'>красный</button></div>
  <div class='square'><button>жёлтый</button></div>
  <div class='square'><button>зелёный</button></div>
  <div class='square'><button>оранжевый</button></div>
  <div class='square'><button>синий</button></div>
  <div class='square'><button>белый</button></div>
</div>
<h2>Выберите дизайн </h2>
<div class='parent'>
  
  <div class='color'><button>Красный дизайн</button></div>
  <div class='color'><button>Жёлтый дизайн</button></div>
  <div class='color'><button>Зелёный дизайн</button></div>
  <div class='color'><button>Оранжевый дизайн</button></div>
  <div class='color'><button>Синий дизайн</button></div>
  <div class='color'><button>Белый дизайн</button></div>
</div>

