<div class="indexContainer">
  <div>
    <img id="imgBaner" src="image/Baner.png" alt="" width="790px" height="362px">
  </div>
  <div>
    <h1 id="greeting">Welcome to the Socks World</h1>
  </div>
  <div class="textAbovePictures">
    <p id="firstPhase">No one sucks here</p>
    <p id="secondFrase">Make Socks, not War</p>
  </div>
  <div class="indexPictures">
    <div class="firstImg">
      <div class="textCatalogBG"></div>
      <a href="/aboutus"> <img src="image/Catalog.png" alt="" width="385px" height="161px"></a>
    </div>
    <div class="SecondImg">
      <div class="textGeneratorBG"></div>
      <a href="/generator"><img src="image/Generator.png" alt="" width="385px" height="161px"></a>
    </div>

  </div>





</div>
