<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet/style.css">
  <link rel="stylesheet" href="stylesheet/img.css">
  <link rel="stylesheet" href="stylesheet/index.css">
  <link rel="stylesheet" href="stylesheet/fav.css">
  <link rel="stylesheet" href="stylesheet/aboutUs.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  </style>
  <script defer src="/js/fav.js"></script>
  <script defer src="/js/basket.js"></script>

  <script defer src="/js/application.js"></script>
  <script defer type='text/javascript' src='stylesheet/bower_components/tinycolor/tinycolor.js'></script>

  {{!-- {{#if isSignin}} --}}
  <script defer src='/js/logForm.js'></script>
  {{!-- {{/if}}
  {{#if isSignup}} --}}
  <script defer src='/js/regForm.js'></script>
  {{!-- {{/if}} --}}
  <title>We are Socks</title>
  <style>
    li {
      list-style-type: none;
      /* Убираем маркеры */
    }
  </style>
</head>


<body>
  <header id="shapka">

    <div id="logo">
      <a href="/"><img class="logo" src="image/logo.png" width="102" height="108" class="center block"></a>
      <div class="company">
        <div id="comapanyname" href="/aboutus">
          <h2>We are Socks</h2>
          <hr>
          <p class="deviz">Носки - это к нам!</p>
        </div>
      </div>
    </div>
    {{#if useremail}}
    <div id="menu">
      <p class="headermenu"><a class="menu" href="/aboutus">О нас</a></p>
      <p class="headermenu"><a class="menu" href="/generator">Конструктор</a></p>
      <p class="headermenu"><a class="menu" href="/signout">Выйти</a></p>
      <p class="headermenu"><a id="greetingName">"Привет, {{useremail.username}}"</a></p>

      {{else}}
      <div id="menu">
        <p class="headermenu"><a class="menu" href="/aboutus">О нас</a></p>
        <p class="headermenu"><a class="menu" href="/generator">Конструктор</a></p>
        <p class="headermenu"><a class="menu" href="/logForm">Войти</a></p>
        <p class="headermenu"><a class="menu" href="/regForm">Зарегистрироваться</a></p>
        {{/if}}

      </div>
      <div id="contacts">
        <p>info@elbrusboot.camp <br>
          +7 (499) 938-68-24
        </p>
      </div>
      <div id="likebasket">
        <a href="/favorites"><img class="like" src="/image/like.png" width="70" height="62" class="center block"></a>
        <a href="/basket"><img class="basket" src="/image/basket.png" width="70" height="62" class="center block"></a>
      </div>

    </div>
  </header>
  <main>
    {{{body}}}
  </main>

  <div id="footer">
    <div id="footercolumns">
      {{#if useremail}}
      <div id="footermenu">
        <ul>
          <li class="footerli"> <a class="footmenu" href="/aboutus">О нас</a></li>
          <li class="footerli"> <a class="footmenu" href="/generator">Конструктор</a></li>
          <li class="footerli"> <a class="footmenu" href="/signout">Выйти</a></li>
        </ul>
        {{else}}
        <div id="footermenu">
          <ul>
            <li class="footerli"> <a class="footmenu" href="/aboutus">О нас</a></li>
            <li class="footerli"> <a class="footmenu" href="/generator">Конструктор</a></li>
            <li class="footerli"> <a class="footmenu" href="/logForm">Войти</a></li>
            <li class="footerli"> <a class="footmenu" href="/regForm">Зарегистрироваться</a></li>
          </ul>
          {{/if}}

        </div>
        <div id="socials">
          <a href="https://www.instagram.com/elbrus.bootcamp/"><img class="socials" src="/image/insta.png" width="50"
              height="50" class="center block"></a>
          <a href="https://www.twitter.com"><img class="socials" src="/image/twitter.png" width="50" height="50"
              class="center block"></a>
          <a href="https://www.youtube.com/channel/UCaKZxz2d1KI-wN3l6fX7zdQ/featured "><img class="socials"
              src="/image/youtube.png" width="50" height="50" class="center block"></a>
        </div>
        <div id="footeradress">
          <p>+7 (499) 938-68-24 <br>
            info@elbrusboot.camp<br>
            ул.Орджоникидзе, д.11 стр.10 </p>
        </div>
      </div>
      <div id="policy">
        <p>© 2022 All rights reserved. We Are Socks</p>
        <p><a class="policyRight" href="/policy">By using this site you agree to the privacy policy</a></p>
      </div>
    </div>
  </div>
</body>

</html>
