<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet/style.css">
  <script defer src="/js/application.js"></script>
  {{#if isSignin}}
  <script defer src='/js/logForm.js'></script>
  {{/if}}
  {{#if isSignup}}
  <script defer src='/js/regForm.js'></script>
  {{/if}}
  <title>We are Socks</title>
</head>
<div id="shapka">

  <div id="logo">
    <a href="/"><img class="logo" src="image/logo.png" width="192" height="218" class="center block"></a>
    <div class="company">
      <div id="comapanyname">
        <h2>We are Socks</h2>
        <hr>
        <p class="deviz">Носки - это к нам!</p>
      </div>
    </div>
  </div>
  {{#if email}}
  <div id="menu">
    <p class="headermenu">Каталог</p>
    <p class="headermenu">Конструктор</p>
    <p class="headermenu">Войти</p>
    <p class="headermenu">Зарегистрироваться</p>
  {{else}}
    <div id="menu">
    <p class="headermenu">Каталог</p>
    <p class="headermenu">Конструктор</p>
    <p class="headermenu">Выйти</p>
    {{/if}}

  </div>
  <div id="contacts">
    <p>info@elbrusboot.camp <br>
      +7 (499) 938-68-24
    </p>
  </div>
  <div id="likebasket">
    <a href="/like"><img class="like" src="/image/like.png" width="100" height="100" class="center block"></a>
    <a href="/basket"><img class="basket" src="/image/basket.png" width="100" height="100" class="center block"></a>
  </div>

</div>
</div>

<body>
  {{{body}}}
  <div id="footer">
    <div id="footercolumns">
      <div id="footermenu">
        <ul>
          <li>Каталог</li>
          <li>Конструктор</li>
          <li>Войти</li>
          <li>Регистрация</li>
        </ul>
      </div>
      <div id="socials">
        <a href="/"><img class="socials" src="/image/insta.png" width="100" height="100" class="center block"></a>
        <a href="/"><img class="socials" src="/image/twitter.png" width="100" height="100" class="center block"></a>
        <a href="/"><img class="socials" src="/image/youtube.png" width="100" height="100" class="center block"></a>
      </div>
      <div id="footeradress">
        <p>+7 (499) 938-68-24 <br>
          info@elbrusboot.camp<br>
          ул.Орджоникидзе, д.11 стр.10 </p>
      </div>
    </div>
    <div id="policy">
      <p>Все права защищены (с)</p>
      <p>Политика конфедициальности</p>
    </div>
  </div>
</body>

</html>
